In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('stock.csv')

In [4]:
df

    Year  Month  Interest_Rate  Unemployment_Rate  Stock_Index_Price
0   2017     12           2.75                5.3               1464
1   2017     11           2.50                5.3               1394
2   2017     10           2.50                5.3               1357
3   2017      9           2.50                5.3               1293
4   2017      8           2.50                5.4               1256
5   2017      7           2.50                5.6               1254
6   2017      6           2.50                5.5               1234
7   2017      5           2.25                5.5               1195
8   2017      4           2.25                5.5               1159
9   2017      3           2.25                5.6               1167
10  2017      2           2.00                5.7               1130
11  2017      1           2.00                5.9               1075
12  2016     12           2.00                6.0               1047
13  2016     11           1.75                5.9                965
14  2016     10           1.75                5.8                943
15  2016      9           1.75                6.1                958
16  2016      8           1.75                6.2                971
17  2016      7           1.75                6.1                949
18  2016      6           1.75                6.1                884
19  2016      5           1.75                6.1                866
20  2016      4           1.75                5.9                876
21  2016      3           1.75                6.2                822
22  2016      2           1.75                6.2                704
23  2016      1           1.75                6.1                719

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               24 non-null     int64
 1   Month              24 non-null     int64
 2   Interest_Rate      24 non-null     float64
 3   Unemployment_Rate  24 non-null     float64
 4   Stock_Index_Price  24 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 1.1 KB

In [8]:
X=df[['Interest_Rate']]
Y=df[['Stock_Index_Price']]

In [7]:
from pandas import DataFrame
from sklearn import linear_model
import statsmodels.api as sm

ModuleNotFoundError: No module named 'statsmodels'

In [6]:
df=DataFrame(pd.read_csv("stock.csv"))

NameError: name 'pd' is not defined